Repository woowacourse-teams/2025-pick-eat, pull requests merged in 2025-10, with the labels that each got.

#327 [Feat] 탬플릿 도메인 추가 및 RestaurantInfo VO 임베딩
  backend/src/main/java/com/pickeat/backend/global/exception/ErrorCode.java
  backend/src/main/java/com/pickeat/backend/login/ui/LoginController.java
  backend/src/main/java/com/pickeat/backend/pickeat/domain/Location.java
  backend/src/main/java/com/pickeat/backend/pickeat/domain/Radius.java
  backend/src/main/java/com/pickeat/backend/pickeat/ui/ParticipantController.java
  backend/src/main/java/com/pickeat/backend/pickeat/ui/PickeatController.java
  backend/src/main/java/com/pickeat/backend/restaurant/application/RestaurantService.java
  backend/src/main/java/com/pickeat/backend/restaurant/application/dto/request/RestaurantRequest.java
  backend/src/main/java/com/pickeat/backend/restaurant/application/dto/response/RestaurantResponse.java
  backend/src/main/java/com/pickeat/backend/restaurant/application/dto/response/RestaurantResultResponse.java
  backend/src/main/java/com/pickeat/backend/restaurant/domain/Picture.java
  backend/src/main/java/com/pickeat/backend/restaurant/domain/Restaurant.java
  backend/src/main/java/com/pickeat/backend/restaurant/domain/RestaurantInfo.java
  backend/src/main/java/com/pickeat/backend/restaurant/infrastructure/KakaoRestaurantSearchClient.java
  backend/src/main/java/com/pickeat/backend/restaurant/ui/RestaurantController.java
  backend/src/main/java/com/pickeat/backend/room/ui/RoomController.java
  backend/src/main/java/com/pickeat/backend/template/application/TemplateService.java
  backend/src/main/java/com/pickeat/backend/template/application/TemplateWishService.java
  backend/src/main/java/com/pickeat/backend/template/application/dto/response/TemplateResponse.java
  backend/src/main/java/com/pickeat/backend/template/application/dto/response/TemplateWishResponse.java
  backend/src/main/java/com/pickeat/backend/template/domain/Template.java
  backend/src/main/java/com/pickeat/backend/template/domain/TemplateWish.java
  backend/src/main/java/com/pickeat/backend/template/domain/repository/TemplateRepository.java
  backend/src/main/java/com/pickeat/backend/template/domain/repository/TemplateWishRepository.java
  backend/src/main/java/com/pickeat/backend/template/ui/TemplateController.java
  backend/src/main/java/com/pickeat/backend/template/ui/TemplateWishController.java
  backend/src/main/java/com/pickeat/backend/template/ui/api/TemplateApiSpec.java
  backend/src/main/java/com/pickeat/backend/template/ui/api/TemplateWishApiSpec.java
  backend/src/main/java/com/pickeat/backend/user/ui/UserController.java
  backend/src/main/java/com/pickeat/backend/wish/application/dto/response/WishListResponse.java
  backend/src/main/java/com/pickeat/backend/wish/application/dto/response/WishResponse.java
  backend/src/main/java/com/pickeat/backend/wish/ui/WishController.java
  backend/src/main/java/com/pickeat/backend/wish/ui/WishListController.java
  backend/src/main/java/com/pickeat/backend/wish/ui/WishPictureController.java
  backend/src/main/resources/db/migration/V1__init.sql
  backend/src/main/resources/db/migration/V4__add_template.sql
  backend/src/test/java/com/pickeat/backend/fake/restaurant/FakeRestaurantSearchClient.java
  backend/src/test/java/com/pickeat/backend/fixture/RestaurantFixture.java
  backend/src/test/java/com/pickeat/backend/fixture/TemplateFixture.java
  backend/src/test/java/com/pickeat/backend/fixture/TemplateWishFixture.java
  backend/src/test/java/com/pickeat/backend/pickeat/domain/LocationTest.java
  backend/src/test/java/com/pickeat/backend/pickeat/domain/RadiusTest.java
  backend/src/test/java/com/pickeat/backend/restaurant/application/RestaurantServiceTest.java
  backend/src/test/java/com/pickeat/backend/restaurant/infrastructure/KakaoRestaurantSearchClientTest.java
  backend/src/test/java/com/pickeat/backend/template/application/TemplateServiceTest.java
  backend/src/test/java/com/pickeat/backend/template/application/TemplateWishServiceTest.java
  backend/src/test/java/com/pickeat/backend/wish/application/WishListServiceTest.java
  docs/back-code-convention.md
Labels: ✨ Feat, 🧱 Backend

#332 [Refactor]스키마 마이그레이션 및 template 도메인 추가
  backend/src/main/java/com/pickeat/backend/global/annotation/DeprecatedApi.java
  backend/src/main/java/com/pickeat/backend/global/config/intercepter/DeprecationInterceptor.java
  backend/src/main/java/com/pickeat/backend/restaurant/application/RestaurantService.java
  backend/src/main/java/com/pickeat/backend/restaurant/application/WishRestaurantSearchService.java
  backend/src/main/java/com/pickeat/backend/restaurant/application/dto/request/RestaurantRequest.java
  backend/src/main/java/com/pickeat/backend/restaurant/domain/Restaurant.java
  backend/src/main/java/com/pickeat/backend/template/domain/Template.java
  backend/src/main/java/com/pickeat/backend/tobe/restaurant/application/RestaurantSearchFacade.java
  backend/src/main/java/com/pickeat/backend/tobe/restaurant/application/RestaurantService.java
  backend/src/main/java/com/pickeat/backend/tobe/restaurant/application/WishRestaurantSearchService.java
  backend/src/main/java/com/pickeat/backend/tobe/restaurant/application/request/RestaurantRequest.java
  backend/src/main/java/com/pickeat/backend/tobe/restaurant/application/request/WishRestaurantRequest.java
  backend/src/main/java/com/pickeat/backend/tobe/restaurant/ui/RestaurantController.java
  backend/src/main/java/com/pickeat/backend/tobe/restaurant/ui/api/RestaurantApiSpec.java
  backend/src/main/resources/db/migration/V1__init.sql
  backend/src/test/java/com/pickeat/backend/fixture/RestaurantFixture.java
  backend/src/test/java/com/pickeat/backend/restaurant/application/RestaurantServiceTest.java
Labels: ⚙️ Refactor, 🧱 Backend

#342 [Refactor] 프로그레스 버튼 리디자인
  frontend/src/domains/pickeat/matchResult/components/PickeatEndButton.tsx
  frontend/src/shared/components/actions/ProgressButton.stories.tsx
  frontend/src/shared/components/actions/ProgressButton.tsx
Labels: ✨ Feat

#344 [Refactor] 셀렉트 리디자인
  frontend/src/shared/components/actions/Select.tsx
Labels: ✨ Feat
