Repository woowacourse-teams/2025-pick-eat, pull requests merged in 2025-08, with the labels that each got.

#107 [Feat] 위시와 위시리스트 api 구현
  backend/src/main/java/com/pickeat/backend/global/exception/ErrorCode.java
  backend/src/main/java/com/pickeat/backend/wish/application/WishListService.java
  backend/src/main/java/com/pickeat/backend/wish/application/WishService.java
  backend/src/main/java/com/pickeat/backend/wish/application/dto/request/WishListRequest.java
  backend/src/main/java/com/pickeat/backend/wish/application/dto/request/WishRequest.java
  backend/src/main/java/com/pickeat/backend/wish/application/dto/response/WishListResponse.java
  backend/src/main/java/com/pickeat/backend/wish/application/dto/response/WishResponse.java
  backend/src/main/java/com/pickeat/backend/wish/domain/Wish.java
  backend/src/main/java/com/pickeat/backend/wish/domain/WishList.java
  backend/src/main/java/com/pickeat/backend/wish/domain/repository/WishListRepository.java
  backend/src/main/java/com/pickeat/backend/wish/domain/repository/WishRepository.java
  backend/src/main/java/com/pickeat/backend/wish/ui/WishController.java
  backend/src/main/java/com/pickeat/backend/wish/ui/WishListController.java
  backend/src/main/java/com/pickeat/backend/wish/ui/api/WishApiSpec.java
  backend/src/main/java/com/pickeat/backend/wish/ui/api/WishListApiSpec.java
  backend/src/test/java/com/pickeat/backend/fixture/WishFixture.java
  backend/src/test/java/com/pickeat/backend/fixture/WishListFixture.java
  backend/src/test/java/com/pickeat/backend/wish/application/WishListServiceTest.java
  backend/src/test/java/com/pickeat/backend/wish/application/WishServiceTest.java
Labels: ✨ Feat, 🧱 Backend

#122 [Refactor] 코드 리팩토링
  frontend/src/domains/restaurantExclude/components/RestaurantExclude.tsx
  frontend/src/domains/restaurantExclude/components/restaurantTabList/RestaurantTabList.tsx
  frontend/src/domains/restaurantExclude/components/restaurantTabList/hooks/useRestaurantsData.ts
  frontend/src/domains/restaurantExclude/components/restaurantTabList/hooks/useRestaurantsPolling.ts
  frontend/src/shared/components/tabMenus/TabContent.tsx
  frontend/src/shared/hooks/usePolling.ts
Labels: ⚙️ Refactor, 💎 Front

#149 [Feat] 비회원 위시리스트와 위시 조회기능 구현
  backend/src/main/java/com/pickeat/backend/global/exception/ErrorCode.java
  backend/src/main/java/com/pickeat/backend/restaurant/application/WishRestaurantSearchService.java
  backend/src/main/java/com/pickeat/backend/wish/application/WishListService.java
  backend/src/main/java/com/pickeat/backend/wish/application/WishService.java
  backend/src/main/java/com/pickeat/backend/wish/ui/WishController.java
  backend/src/main/java/com/pickeat/backend/wish/ui/WishListController.java
  backend/src/main/java/com/pickeat/backend/wish/ui/api/WishApiSpec.java
  backend/src/main/java/com/pickeat/backend/wish/ui/api/WishListApiSpec.java
  backend/src/test/java/com/pickeat/backend/wish/application/WishListServiceTest.java
  backend/src/test/java/com/pickeat/backend/wish/application/WishServiceTest.java
Labels: ✨ Feat, 🧱 Backend

#152 [Feat] 픽잇 결과 단건 조회 기능 추가
  backend/src/main/java/com/pickeat/backend/global/exception/ErrorCode.java
  backend/src/main/java/com/pickeat/backend/pickeat/application/PickeatService.java
  backend/src/main/java/com/pickeat/backend/pickeat/ui/PickeatController.java
  backend/src/main/java/com/pickeat/backend/pickeat/ui/api/PickeatApiSpec.java
  backend/src/main/java/com/pickeat/backend/restaurant/domain/Restaurants.java
  backend/src/test/java/com/pickeat/backend/fixture/RestaurantFixture.java
  backend/src/test/java/com/pickeat/backend/pickeat/application/PickeatServiceTest.java
  backend/src/test/java/com/pickeat/backend/restaurant/domain/RestaurantsTest.java
Labels: ⚙️ Refactor, 🧱 Backend

#159 feat: 초기 위시리스트 데이터 삽입 세팅
  backend/src/main/java/com/pickeat/backend/global/init/DataInitializer.java
Labels: ✨ Feat, 🧱 Backend

#156 [Feat] 모달 컴포넌트 구현
  frontend/.storybook/preview-head.html
  frontend/public/index.html
  frontend/src/pages/restaurantExclude/components/TitleArea.tsx
  frontend/src/routes/router.tsx
  frontend/src/shared/components/modal/Inner.tsx
  frontend/src/shared/components/modal/Modal.stories.tsx
  frontend/src/shared/components/modal/Modal.tsx
  frontend/src/shared/components/modal/useModal.ts
Labels: ✨ Feat, 💎 Front

#161 [Feat] 방상세 페이지 구현
  frontend/src/apis/room.ts
  frontend/src/apis/users.ts
  frontend/src/domains/pickeat/components/PickeatInfo.tsx
  frontend/src/domains/profile/components/RoomList.tsx
  frontend/src/domains/room/components/IncludeMemberList.tsx
  frontend/src/domains/room/components/InviteMember.tsx
  frontend/src/domains/room/components/SelectedMemberList.tsx
  frontend/src/domains/room/hooks/useCreateRoom.ts
  frontend/src/domains/room/hooks/useInviteMember.ts
  frontend/src/pages/CreateRoom.tsx
  frontend/src/pages/OauthCallback.tsx
  frontend/src/pages/RoomDetail.tsx
  frontend/src/routes/routePath.ts
  frontend/src/routes/router.tsx
  frontend/src/shared/components/layouts/Header.tsx
Labels: ✨ Feat, 💎 Front

#179 [Feat] 위시 목록 컴포넌트 구현
  frontend/src/apis/wishlist.ts
  frontend/src/domains/matchResult/components/Result.tsx
  frontend/src/domains/room/components/IncludeMemberList.tsx
  frontend/src/domains/wishlist/Wishes.tsx
  frontend/src/domains/wishlist/Wishlist.tsx
  frontend/src/pages/MatchResult.tsx
  frontend/src/pages/PreferRestaurant.tsx
  frontend/src/routes/router.tsx
  frontend/src/shared/components/modal/Inner.tsx
  frontend/src/shared/components/modal/Modal.stories.tsx
  frontend/src/shared/components/modal/Modal.tsx
Labels: ✨ Feat, ⚒️ Fix, 💎 Front

#186 feat: 위시리스트 삭제 API 구현
  backend/src/main/java/com/pickeat/backend/wish/application/WishListService.java
  backend/src/main/java/com/pickeat/backend/wish/ui/WishListController.java
  backend/src/main/java/com/pickeat/backend/wish/ui/api/WishListApiSpec.java
  backend/src/test/java/com/pickeat/backend/wish/application/WishListServiceTest.java
Labels: ✨ Feat, 🧱 Backend

#189 feat: 방의 활성화된 픽잇 조회 API 구현
  backend/src/main/java/com/pickeat/backend/pickeat/application/PickeatService.java
  backend/src/main/java/com/pickeat/backend/pickeat/application/dto/response/PickeatResponse.java
  backend/src/main/java/com/pickeat/backend/pickeat/domain/repository/PickeatRepository.java
  backend/src/main/java/com/pickeat/backend/pickeat/ui/PickeatController.java
  backend/src/main/java/com/pickeat/backend/pickeat/ui/api/PickeatApiSpec.java
  backend/src/test/java/com/pickeat/backend/pickeat/application/PickeatServiceTest.java
Labels: ✨ Feat, 🧱 Backend

#196 [Refactor] 위시 목록 리스트 조회 api 기능 개선
  backend/src/main/java/com/pickeat/backend/wish/application/WishService.java
  backend/src/test/java/com/pickeat/backend/wish/application/WishServiceTest.java
Labels: ⚙️ Refactor, 🧱 Backend

#199 [Refactor] 방의 위시리스트 조회 기능 개선
  backend/src/main/java/com/pickeat/backend/wish/application/WishListService.java
  backend/src/main/java/com/pickeat/backend/wish/ui/WishListController.java
  backend/src/main/java/com/pickeat/backend/wish/ui/api/WishListApiSpec.java
  backend/src/test/java/com/pickeat/backend/wish/application/WishListServiceTest.java
Labels: ⚙️ Refactor, 🧱 Backend

#202 [Feat] 위시 수정 api 구현
  backend/src/main/java/com/pickeat/backend/global/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/pickeat/backend/wish/application/WishListService.java
  backend/src/main/java/com/pickeat/backend/wish/application/WishService.java
  backend/src/main/java/com/pickeat/backend/wish/application/dto/request/WishUpdateRequest.java
  backend/src/main/java/com/pickeat/backend/wish/domain/Wish.java
  backend/src/main/java/com/pickeat/backend/wish/ui/WishController.java
  backend/src/main/java/com/pickeat/backend/wish/ui/api/WishApiSpec.java
  backend/src/test/java/com/pickeat/backend/wish/application/WishListServiceTest.java
  backend/src/test/java/com/pickeat/backend/wish/application/WishPictureServiceTest.java
  backend/src/test/java/com/pickeat/backend/wish/application/WishServiceTest.java
  backend/src/test/java/com/pickeat/backend/wish/domain/WishTest.java
Labels: ✨ Feat, 🧱 Backend

#204 [Feat] 위시 사진 관련 api 추가 구현
  backend/src/main/java/com/pickeat/backend/wish/application/WishPictureService.java
  backend/src/main/java/com/pickeat/backend/wish/ui/WishPictureController.java
  backend/src/main/java/com/pickeat/backend/wish/ui/api/WishPictureApiSpec.java
  backend/src/test/java/com/pickeat/backend/wish/application/WishPictureServiceTest.java
Labels: ✨ Feat, 🧱 Backend

#206 [Feature] 프로그레스 바 컴포넌트 구현
  frontend/src/domains/wishlist/components/Wishes.tsx
  frontend/src/shared/components/progressBar/ProgressBar.stories.tsx
  frontend/src/shared/components/progressBar/ProgressBar.tsx
Labels: ✨ Feat, 💎 Front

#217 [Feature] 라우트 가드 적용
  frontend/src/domains/login/context/AuthProvider.tsx
  frontend/src/routes/router.tsx
Labels: ⚙️ Refactor, 💎 Front
