Repository woowacourse-teams/2025-pick-eat, pull requests merged in 2025-07, with the labels that each got.

#3 [Env] 백엔드 초기세팅 완료
  .gitignore
  backend/.gitattributes
  backend/.gitignore
  backend/Dockerfile
  backend/build.gradle
  backend/docker/docker-compose.dev.yml
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/settings.gradle
  backend/src/main/java/com/pickeat/backend/BackendApplication.java
  backend/src/main/resources/application-dev.properties
  backend/src/main/resources/application.properties
  backend/src/test/java/com/pickeat/backend/BackendApplicationTests.java
Labels: 🌍 Env, 🧱 Backend

#13 Feature/11 라우터 설정
  frontend/.eslintrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/main.tsx
  frontend/src/routes/routePath.ts
  frontend/src/routes/router.tsx
  frontend/tsconfig.json
  frontend/webpack.common.js
Labels: ✨ Feat, 💎 Front

#17 Feature/16 스토리북 테마 적용
  frontend/.storybook/preview.ts
  frontend/.storybook/preview.tsx
Labels: ✨ Feat, 💎 Front

#28 [Feat] 방 정보 조회 기능 구현
  backend/src/main/java/com/pickeat/backend/room/application/RoomService.java
  backend/src/main/java/com/pickeat/backend/room/domain/Room.java
  backend/src/main/java/com/pickeat/backend/room/domain/repository/RoomRepository.java
  backend/src/main/java/com/pickeat/backend/room/ui/RoomController.java
Labels: ✨ Feat, 🧱 Backend

#31 [Feat] 인풋 컴포넌트 구현
  frontend/.storybook/main.ts
  frontend/.storybook/preview.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/src/shared/components/actions/Input.stories.tsx
  frontend/src/shared/components/actions/Input.tsx
Labels: ✨ Feat, 💎 Front

#23 Feature/20 탭 컴포넌트 제작
  frontend/.storybook/preview.tsx
  frontend/src/shared/components/tabMenus/TabBar.stories.tsx
  frontend/src/shared/components/tabMenus/TabBar.tsx
  frontend/src/shared/components/tabMenus/TabContent.stories.tsx
  frontend/src/shared/components/tabMenus/TabContent.tsx
  frontend/src/shared/components/tabMenus/TabMenu.stories.tsx
  frontend/src/shared/components/tabMenus/TabMenu.tsx
Labels: ✨ Feat, 💎 Front

#35 [Feat] 공통 컴포넌트 제작
  frontend/.eslintrc.json
  frontend/.storybook/main.ts
  frontend/.storybook/preview.ts
  frontend/.storybook/preview.tsx
  frontend/.vscode/settings.json
  frontend/package-lock.json
  frontend/package.json
  frontend/public/images/arrow.svg
  frontend/public/images/double-arrow.svg
  frontend/public/images/hamburger.svg
  frontend/public/images/logo.svg
  frontend/src/App.tsx
  frontend/src/main.tsx
  frontend/src/routes/routePath.ts
  frontend/src/routes/router.tsx
  frontend/src/shared/components/actions/.gitkeep
  frontend/src/shared/components/actions/Button.stories.tsx
  frontend/src/shared/components/actions/Button.tsx
  frontend/src/shared/components/actions/Input.stories.tsx
  frontend/src/shared/components/actions/Input.tsx
  frontend/src/shared/components/actions/Select.stories.tsx
  frontend/src/shared/components/actions/Select.tsx
  frontend/src/shared/components/assets/.gitkeep
  frontend/src/shared/components/assets/icons/Arrow.tsx
  frontend/src/shared/components/assets/icons/Hamburger.tsx
  frontend/src/shared/components/assets/icons/constants.ts
  frontend/src/shared/components/assets/identity/Logo.tsx
  frontend/src/shared/components/layouts/.gitkeep
  frontend/src/shared/components/layouts/Header.tsx
  frontend/src/shared/components/layouts/Layout.tsx
  frontend/src/shared/components/tabMenus/TabBar.stories.tsx
  frontend/src/shared/components/tabMenus/TabBar.tsx
  frontend/src/shared/components/tabMenus/TabContent.stories.tsx
  frontend/src/shared/components/tabMenus/TabContent.tsx
  frontend/src/shared/components/tabMenus/TabMenu.stories.tsx
  frontend/src/shared/components/tabMenus/TabMenu.tsx
  frontend/src/shared/hooks/.gitkeep
  frontend/src/shared/hooks/useBoolean.ts
  frontend/src/shared/styles/.gitkeep
  frontend/src/shared/styles/global.ts
  frontend/src/shared/styles/reset.ts
  frontend/src/shared/types/.gitkeep
  frontend/src/shared/types/emotion.d.ts
  frontend/stylelint.config.js
  frontend/tsconfig.json
  frontend/webpack.common.js
Labels: ✨ Feat, 💎 Front

#51 Feature/36 페이지 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/src/apis/apiClient.ts
  frontend/src/domains/errorBoundary/ErrorBoundary.tsx
  frontend/src/shared/components/actions/Button.stories.tsx
  frontend/src/shared/components/actions/Button.tsx
  frontend/webpack.common.js
Labels: ✨ Feat, 💎 Front

#58 [Feat] 선호 식당 페이지 구현
  frontend/src/apis/apiClient.ts
  frontend/src/apis/prefer.ts
  frontend/src/domains/.gitkeep
  frontend/src/domains/preferRestaurant/components/PreferRestaurantItem.tsx
  frontend/src/domains/preferRestaurant/components/PreferRestaurantList.tsx
  frontend/src/domains/preferRestaurant/context/PreferRestaurantProvider.tsx
  frontend/src/domains/preferRestaurant/hooks/useParticipant.ts
  frontend/src/pages/PreferRestaurant.tsx
  frontend/src/routes/routePath.ts
  frontend/src/routes/router.tsx
  frontend/src/shared/components/actions/Like.tsx
  frontend/src/shared/hooks/useExplosion.ts
Labels: ✨ Feat, 💎 Front

#52 [Feat] 방생성 페이지 구현
  frontend/babel.config.json
  frontend/src/apis/.gitkeep
  frontend/src/apis/room.ts
  frontend/src/domains/room/hooks/useCreateRoom.tsx
  frontend/src/domains/room/services/createRoomService.ts
  frontend/src/domains/room/utils/convertAddress.ts
  frontend/src/domains/room/utils/validateRoomForms.ts
  frontend/src/pages/CreateRoom.tsx
  frontend/src/routes/routePath.ts
  frontend/src/routes/router.tsx
  frontend/src/shared/components/actions/Input.tsx
  frontend/src/shared/components/errors/ErrorMessage.tsx
Labels: ✨ Feat, 💎 Front

#60 [Cicd] 백엔드 cicd 구축
  .github/workflows/ci-check.yml
Labels: 📤 CICD, 🧱 Backend

#53 [Feat] 방정보 페이지 구현
  frontend/src/apis/room.ts
  frontend/src/domains/room/components/RoomInfo.tsx
  frontend/src/domains/room/hooks/useRoomDetail.tsx
  frontend/src/domains/room/utils/convertAddress.ts
  frontend/src/domains/room/utils/validateJoinRoom.ts
  frontend/src/pages/RoomDetail.tsx
  frontend/src/routes/routePath.ts
  frontend/src/routes/router.tsx
  frontend/src/shared/components/assets/icons/Location.tsx
  frontend/src/shared/components/assets/icons/Share.tsx
  frontend/src/shared/utils/.gitkeep
  frontend/src/shared/utils/copyLink.ts
Labels: ✨ Feat, 💎 Front

#59 [Feat] 식당 소거 페이지 구현
  frontend/public/images/cross.svg
  frontend/src/apis/restaurant.ts
  frontend/src/domains/restaurantExclude/components/RestaurantExclude.tsx
  frontend/src/domains/restaurantExclude/components/RestaurantItem.stories.tsx
  frontend/src/domains/restaurantExclude/components/RestaurantItem.tsx
  frontend/src/domains/restaurantExclude/components/RestaurantList.stories.tsx
  frontend/src/domains/restaurantExclude/components/RestaurantList.tsx
  frontend/src/domains/restaurantExclude/components/actions/ExcludeActionButtons.tsx
  frontend/src/domains/restaurantExclude/components/actions/ExcludeSubmitButton.tsx
  frontend/src/domains/restaurantExclude/context/RestaurantExcludeProvider.tsx
  frontend/src/pages/restaurantExclude/RestaurantExcludePage.tsx
  frontend/src/pages/restaurantExclude/components/TitleArea.tsx
  frontend/src/routes/router.tsx
  frontend/src/shared/components/actions/Checkbox.tsx
  frontend/src/shared/components/actions/Input.tsx
  frontend/src/shared/components/actions/Select.tsx
  frontend/src/shared/components/assets/icons/CrossSvg.tsx
  frontend/src/shared/components/assets/icons/ForbiddenSvg.tsx
  frontend/src/shared/components/assets/icons/RevertSvg.tsx
  frontend/src/shared/components/assets/icons/TrashSvg.tsx
  frontend/src/shared/components/labels/Badge.stories.tsx
  frontend/src/shared/components/labels/Badge.tsx
  frontend/src/shared/components/layouts/Header.tsx
  frontend/src/shared/components/layouts/Layout.tsx
  frontend/src/shared/components/tabMenus/TabBar.tsx
  frontend/src/shared/components/tabMenus/TabContent.stories.tsx
  frontend/src/shared/components/tabMenus/TabContent.tsx
  frontend/src/shared/components/tabMenus/TabMenu.stories.tsx
  frontend/src/shared/components/tabMenus/hooks/useFitHeightToActiveChild.ts
  frontend/src/shared/styles/global.ts
  frontend/src/shared/utils/convert.ts
Labels: ✨ Feat, 💎 Front

#63 [CI] 프론트 CI 구축
  .github/workflows/fe-ci.yml
Labels: 📤 CICD, 💎 Front

#62 [Cicd] 백엔드 cicd 구축
  .github/workflows/ci-check.yml
  .github/workflows/cicd.yml
  backend/Dockerfile
  backend/docker/docker-compose.dev.yml
Labels: 📤 CICD, 🧱 Backend

#72 [Refactor] 선호 식당 페이지 리팩터링
  frontend/src/domains/matchResult/hooks/useResult.ts
  frontend/src/domains/preferRestaurant/components/PreferRestaurantItem.tsx
  frontend/src/domains/preferRestaurant/components/PreferRestaurantList.tsx
  frontend/src/domains/preferRestaurant/context/PreferRestaurantProvider.tsx
  frontend/src/domains/preferRestaurant/hooks/useParticipant.ts
  frontend/src/domains/restaurantExclude/components/actions/ExcludeSubmitButton.tsx
  frontend/src/pages/MatchResult.tsx
  frontend/src/pages/PreferRestaurant.tsx
  frontend/src/pages/RoomDetail.tsx
Labels: ✨ Feat, ⚙️ Refactor, 💎 Front

#86 Refactor/66 선호 식당 리팩토링
  frontend/src/apis/participant.ts
  frontend/src/apis/prefer.ts
  frontend/src/apis/restaurant.ts
  frontend/src/apis/room.ts
  frontend/src/domains/matchResult/hooks/useResult.ts
  frontend/src/domains/preferRestaurant/components/PreferRestaurantItem.tsx
  frontend/src/domains/preferRestaurant/components/PreferRestaurantList.tsx
  frontend/src/domains/preferRestaurant/context/PreferRestaurantProvider.tsx
  frontend/src/domains/preferRestaurant/hooks/useParticipant.ts
  frontend/src/domains/room/components/RoomInfo.tsx
  frontend/src/pages/CreateRoom.tsx
  frontend/src/pages/MatchResult.tsx
  frontend/src/pages/PreferRestaurant.tsx
  frontend/src/routes/router.tsx
  frontend/src/shared/components/Confetti.stories.tsx
  frontend/src/shared/components/Confetti.tsx
  frontend/src/shared/components/actions/LikeButton/LikeButton.stories.tsx
  frontend/src/shared/components/actions/LikeButton/LikeButton.tsx
  frontend/src/shared/components/actions/LikeButton/hooks/useExplosion.ts
  frontend/src/shared/components/errors/ErrorMessage.tsx
  frontend/src/shared/hooks/useFlip.ts
  frontend/src/shared/styles/mediaQuery.ts
Labels: ✨ Feat, ⚙️ Refactor, 💎 Front

#87 [Feat] 식당 소거 페이지 기능 추가
  frontend/public/images/dislikeImoji.png
  frontend/src/apis/restaurant.ts
  frontend/src/domains/preferRestaurant/context/PreferRestaurantProvider.tsx
  frontend/src/domains/restaurantExclude/components/RestaurantExclude.tsx
  frontend/src/domains/restaurantExclude/components/actions/ExcludeActionButtons.tsx
  frontend/src/domains/restaurantExclude/components/restaurantTabList/RestaurantTabList.tsx
  frontend/src/domains/restaurantExclude/components/restaurantTabList/hooks/useRestaurantTabsContext.tsx
  frontend/src/domains/restaurantExclude/components/restaurantTabList/hooks/useRestaurantsPolling.ts
  frontend/src/domains/restaurantExclude/components/restaurantTabList/restaurantList/ExcludedRestaurantItem.tsx
  frontend/src/domains/restaurantExclude/components/restaurantTabList/restaurantList/RestaurantItem.stories.tsx
  frontend/src/domains/restaurantExclude/components/restaurantTabList/restaurantList/RestaurantItem.tsx
  frontend/src/domains/restaurantExclude/components/restaurantTabList/restaurantList/RestaurantList.stories.tsx
  frontend/src/domains/restaurantExclude/components/restaurantTabList/restaurantList/RestaurantList.tsx
  frontend/src/pages/restaurantExclude/RestaurantExcludePage.tsx
  frontend/src/pages/restaurantExclude/components/TitleArea.tsx
  frontend/src/shared/components/actions/Checkbox.tsx
Labels: ✨ Feat, 💎 Front

#88 [Feat] 닉네임 기본값 설정
  frontend/src/domains/room/components/RoomInfo.tsx
  frontend/src/domains/room/constants/nickName.ts
  frontend/src/domains/room/utils/makeNickName.ts
Labels: ✨ Feat, 💎 Front
