Repository woowacourse-teams/2025-pick-eat, pull requests merged in 2025-09, with the labels that each got.

#238 [Feat] 진행중인 픽잇 조회 API 구현
  backend/src/main/java/com/pickeat/backend/pickeat/application/PickeatService.java
  backend/src/main/java/com/pickeat/backend/pickeat/domain/repository/PickeatRepository.java
  backend/src/main/java/com/pickeat/backend/pickeat/ui/PickeatController.java
  backend/src/main/java/com/pickeat/backend/pickeat/ui/api/PickeatApiSpec.java
  backend/src/test/java/com/pickeat/backend/pickeat/application/PickeatServiceTest.java
Labels: ✨ Feat, 🧱 Backend

#264 [Refactor] 위시리스트 객체 구조 변경
  backend/src/main/java/com/pickeat/backend/wish/application/WishListService.java
  backend/src/main/java/com/pickeat/backend/wish/application/WishService.java
  backend/src/main/java/com/pickeat/backend/wish/application/dto/response/WishListResponse.java
  backend/src/main/java/com/pickeat/backend/wish/domain/WishList.java
  backend/src/main/java/com/pickeat/backend/wish/domain/repository/WishListRepository.java
  backend/src/main/java/com/pickeat/backend/wish/ui/WishListController.java
  backend/src/main/java/com/pickeat/backend/wish/ui/api/WishListApiSpec.java
  backend/src/test/java/com/pickeat/backend/wish/application/WishListServiceTest.java
Labels: ⚙️ Refactor, 🧱 Backend

#263 [Feat] 마이페이지 진행중 픽잇 표시
  frontend/public/images/profile/cat_profile.svg
  frontend/src/apis/apiClient.ts
  frontend/src/apis/login.ts
  frontend/src/apis/pickeat.ts
  frontend/src/domains/login/context/AuthProvider.tsx
  frontend/src/domains/profile/components/ParticipantPickeat.tsx
  frontend/src/domains/profile/components/RoomList.tsx
  frontend/src/domains/room/components/RoomDetailTab/ProgressPickeat.tsx
  frontend/src/domains/room/components/Wishlist/WishFormTab.tsx
  frontend/src/pages/MyPage.tsx
  frontend/src/pages/myRoom/MyRoom.tsx
  frontend/src/pages/myRoom/components/Profile.tsx
  frontend/src/routes/router.tsx
  frontend/src/shared/components/assets/icons/ActivateCircle.tsx
  frontend/src/shared/components/assets/icons/Plus.tsx
  frontend/src/shared/components/assets/icons/constants.ts
  frontend/src/shared/components/layouts/Header.tsx
Labels: ✨ Feat, ⚙️ Refactor, 💎 Front

#275 [Env] 개발 서버 swagger api 스펙 변경 변경
  backend/src/main/java/com/pickeat/backend/BackendApplication.java
Labels: 🌍 Env, 🧱 Backend

#286 [Refactor] 방 위시 하나로 개편
  frontend/.eslintrc.json
  frontend/src/apis/pickeat.ts
  frontend/src/apis/room.ts
  frontend/src/apis/rooms.ts
  frontend/src/apis/wish.ts
  frontend/src/apis/wishlist.ts
  frontend/src/domains/pickeat/hooks/useCreateLocationPickeat.tsx
  frontend/src/domains/pickeat/utils/kakaoLocalAPI.ts
  frontend/src/domains/profile/components/RoomList.tsx
  frontend/src/domains/restaurantExclude/components/restaurantTabList/restaurantList/RestaurantItem.tsx
  frontend/src/domains/room/components/ChooseRoomWishlist.tsx
  frontend/src/domains/room/components/RoomDetailTab/index.tsx
  frontend/src/domains/room/components/TemplatesTab/TemplatesTab.tsx
  frontend/src/domains/room/components/TemplatesTab/WishlistCard.tsx
  frontend/src/domains/room/components/Wishlist/WishlistTab.tsx
  frontend/src/domains/room/components/Wishlist/index.tsx
  frontend/src/domains/room/components/WishlistGroupTab.tsx
  frontend/src/domains/room/components/WishlistTab/WishAddressForm.tsx
  frontend/src/domains/room/components/WishlistTab/WishCard.tsx
  frontend/src/domains/room/components/WishlistTab/WishlistTab.tsx
  frontend/src/domains/room/hooks/useCreateRoom.ts
  frontend/src/domains/room/hooks/useManageWishlist.ts
  frontend/src/domains/wishlist/components/PublicWishlist.tsx
  frontend/src/domains/wishlist/components/WishForm/CategorySection.tsx
  frontend/src/domains/wishlist/components/WishForm/TagSection.tsx
  frontend/src/domains/wishlist/components/WishForm/index.tsx
  frontend/src/domains/wishlist/components/Wishlist.tsx
  frontend/src/domains/wishlist/components/WishlistCard.tsx
  frontend/src/domains/wishlist/components/WishlistForm.tsx
  frontend/src/domains/wishlist/hooks/useCreateWish.ts
  frontend/src/domains/wishlist/hooks/useCreateWishPickeat.ts
  frontend/src/domains/wishlist/hooks/useCreateWishlist.ts
  frontend/src/domains/wishlist/hooks/useSelectWishlist.ts
  frontend/src/pages/ChooseType.tsx
  frontend/src/pages/ChooseWishlist.tsx
  frontend/src/pages/RoomDetail.tsx
  frontend/src/routes/routePath.ts
  frontend/src/routes/router.tsx
  frontend/src/shared/constants/foodCategory.ts
  frontend/tsconfig.json
Labels: ⚙️ Refactor, 💎 Front

#294 [Refactor] 성능 개선 - 캐시, 이미지 최적화, CSS 최적화
  frontend/.eslintrc.json
  frontend/package-lock.json
  frontend/package.json
  frontend/public/fonts/BMKkubulim-subset.woff2
  frontend/src/domains/pickeat/matchResult/components/PickeatVoteCompleteButton.tsx
  frontend/src/domains/profile/components/RoomList.tsx
  frontend/src/domains/wishlist/components/PublicWishlist.tsx
  frontend/src/domains/wishlist/components/Wishlist.tsx
  frontend/src/routes/router.tsx
  frontend/src/shared/components/toast/Toast.tsx
  frontend/src/shared/provider/ToastProvider.tsx
  frontend/src/store/LRUCache.ts
  frontend/src/store/useLruCachedFetch.ts
  frontend/webpack.dev.js
  frontend/webpack.prod.js
Labels: ⚙️ Refactor, 💎 Front

#298 [Fix] 메인 페이지에서 방 정보 요청 오류 해결
  frontend/src/domains/pickeat/components/ChoosePickeatType.tsx
  frontend/src/domains/profile/components/RoomList.tsx
  frontend/src/domains/room/components/ChooseRoomWishlist.tsx
Labels: ⚒️ Fix

#306 [Hotfix] UI 깨지는 것 수정
  frontend/src/domains/pickeat/matchResult/components/Result.tsx
  frontend/src/domains/profile/components/RoomList.tsx
  frontend/src/domains/room/components/RoomDetailTab/RoomDetailName.tsx
  frontend/src/pages/pickeat/matchResult/MatchResult.tsx
  frontend/src/routes/router.tsx
  frontend/src/shared/components/assets/LoadingSpinner.tsx
Labels: ⚒️ Fix, 💎 Front

#309 [Fix] 5차 데모 반영
  frontend/src/domains/pickeat/matchResult/components/Result.tsx
  frontend/src/domains/pickeat/participants/participantsAvatarGroup/ParticipantsAvatarGroup.tsx
  frontend/src/domains/room/components/RoomDetailTab/index.tsx
  frontend/src/domains/room/components/WishlistTab/WishlistTab.tsx
  frontend/src/pages/pickeat/hooks/useReEntry.ts
  frontend/src/pages/pickeat/matchResult/MatchResult.tsx
  frontend/src/pages/pickeat/preferRestaurant/components/Title.tsx
  frontend/src/pages/pickeat/restaurantExclude/components/Title.tsx
  frontend/src/routes/router.tsx
  frontend/src/shared/provider/ToastProvider.tsx
Labels: ⚒️ Fix

#297 [Refactor] 로깅 타임스탬프 수정 및 logback 설정에서 JSON 출력 포맷 추가
  .gitignore
  backend/src/main/java/com/pickeat/backend/global/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/pickeat/backend/global/log/BusinessLogAspect.java
  backend/src/main/java/com/pickeat/backend/global/log/LogFilter.java
  backend/src/main/java/com/pickeat/backend/global/log/dto/BusinessLog.java
  backend/src/main/java/com/pickeat/backend/global/log/dto/ErrorLog.java
  backend/src/main/java/com/pickeat/backend/global/log/dto/Log.java
  backend/src/main/java/com/pickeat/backend/global/log/dto/RequestLog.java
  backend/src/main/java/com/pickeat/backend/global/log/dto/ResponseLog.java
  backend/src/main/resources/logback-dev.xml
  backend/src/main/resources/logback-prod.xml
Labels: ⚒️ Fix, 🧱 Backend

#313 [Refactor]픽잇 결과 조회 권한 제거
  backend/src/main/java/com/pickeat/backend/pickeat/application/PickeatResultService.java
  backend/src/main/java/com/pickeat/backend/pickeat/ui/PickeatController.java
  backend/src/main/java/com/pickeat/backend/pickeat/ui/api/PickeatApiSpec.java
  backend/src/main/java/com/pickeat/backend/restaurant/application/RestaurantSearchFacade.java
  backend/src/main/java/com/pickeat/backend/restaurant/application/WishRestaurantSearchService.java
  backend/src/test/java/com/pickeat/backend/pickeat/application/PickeatResultServiceTest.java
Labels: ⚙️ Refactor, 🧱 Backend

#323 [Feat] 방 나가기 기능 구현
  backend/src/main/java/com/pickeat/backend/room/application/RoomService.java
  backend/src/main/java/com/pickeat/backend/room/domain/repository/RoomUserRepository.java
  backend/src/main/java/com/pickeat/backend/room/ui/RoomController.java
  backend/src/main/java/com/pickeat/backend/room/ui/api/RoomApiSpec.java
  backend/src/test/java/com/pickeat/backend/room/application/RoomServiceTest.java
Labels: ✨ Feat, 🧱 Backend
